{% extends 'appBlog/appBlog.html' %}
{% block content %}

<div class="jumbotron">
  <h2>Please login:</h2>
  <h3>Must be super user, please check with site admin</h3>
  {% if forms.errors %}
  <p>Your username and passwords didnot match</p>
  {% endif %}

  <form action="{% url 'login_h' %}" method="post">
    {% csrf_token %}
      {{form.as_p}}
      <input type="submit" class = "btn btn-primary" value="Login">
      <input type="hidden" name="next" value="{{next}}">

  </form>

</div>

{% endblock %}
